---
import Section from "../layout/Section.astro";

const HREF = "https://www.buymeacoffee.com/nevavuoriji";
---

<Section id="support" class="py-16 items-center text-center gap-4">
  <a href={HREF} target="_blank">
    <img
      src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
      alt="Buy Me A Coffee"
      class="h-[60px] w-[217px]"
    />
  </a>
  <p class="text-sm text-muted-fg">
    Help{" "}
    <a class="underline" href={HREF}> support development </a>{" "}
    for the price of a coffee.{" "}
    <a href="/docs/getting-started/support" class="underline"> Read more here </a>
    .
  </p>
</Section>
