---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h5">;

const { class: className, ...props } = Astro.props;
---

<h5 class={cn("font-semibold tracking-tight scroll-m-24", className)} {...props}>
  <slot />
</h5>
