---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, ...props } = Astro.props;
---

<a class={cn("underline", className)} {...props}>
  <slot />
</a>
