---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"li">;

const { class: className, ...props } = Astro.props;
---

<li class={cn("space-y-2", className)} {...props}>
  <slot />
</li>
