---
import Section from "../layout/Section.astro";
---

<Section id="blog-hero" class="py-24">
  <div class="flex flex-col gap-8 items-start">
    {/* Header text */}
    <div class="flex flex-col gap-4">
      <h1 class="text-4xl font-bold tracking-tight">Articles</h1>
      <p class="mx-auto max-w-[700px] text-muted-fg md:text-xl">
        Latest news, updates, and tutorials from Kilpi.
      </p>
    </div>
  </div>
</Section>
