---
import type { CollectionEntry } from "astro:content";
import Section from "../layout/Section.astro";
import BlogPost from "./BlogPost.astro";

type Props = {
  blogs: Array<CollectionEntry<"blog">>;
};

const { blogs } = Astro.props;
---

<Section class="py-0">
  {blogs.map((blog) => <BlogPost blog={blog} />)}
</Section>
