/* Fixes for blog content styles */
/*.sl-markdown-content article ul {
  margin-left: 1.5rem !important;
}
.sl-markdown-content article ol {
  margin-left: 1.5rem !important;
  list-style: decimal;
}
.sl-markdown-content article :is(ul, ol) :is(ul, ol) {
  margin-block: 0 !important;
}
.sl-markdown-content article img {
  margin-block: 2rem;
  border: 1px solid var(--sl-color-hairline-light);
  padding: 2rem;
  border-radius: 0.5rem;
}

*/
