.sl-markdown-content ul:not(:where(.not-content *)) {
  margin-left: 0 !important;
}

.sl-markdown-content p:first-child:not(:where(.not-content *)):not(li p) {
  margin-top: 0 !important;
}

.sl-steps > li:not(:last-of-type) {
  padding-bottom: 64px;
}

/* Add emoji logo to title */
header span.title-text {
  font-size: 1.2rem;
  padding-left: 2.5rem;
  position: relative;
}
header span.title-text::before {
  content: url(/turtle-emoji.png);
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  top: -4px;
  left: 0;
  transform: scale(18%);
}
header a.active {
  font-weight: 600 !important;
}
