/* Lucide icon default settings (size, shrink-0 and loader animations). At top for lower specificity. */
@layer base {
  :where(.lucide) {
    @apply size-4 shrink-0;
  }
  :where(.lucide-loader-circle) {
    @apply text-muted-fg animate-spin;
  }
  :where(.lucide-loader) {
    @apply text-muted-fg animate-spin;
  }
}

@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  --color-bg: var(--color-white);
  --color-fg: var(--color-slate-800);
  --color-border-light: var(--color-slate-100);
  --color-border: var(--color-slate-200);
  --color-muted-bg: var(--color-slate-50);
  --color-muted-fg: var(--color-slate-500);
  --color-accent: var(--color-emerald-600);
}
html[data-theme="dark"] {
  --color-bg: var(--color-slate-950);
  --color-fg: var(--color-slate-100);
  --color-border-light: var(--color-slate-800);
  --color-border: var(--color-slate-800);
  --color-muted-bg: var(--color-slate-900);
  --color-muted-fg: var(--color-slate-400);
  --color-accent: var(--color-emerald-600);
}

@theme inline {
  --spacing-site: var(--site-width);

  --color-bg: var(--color-bg);
  --color-fg: var(--color-fg);
  --color-muted-bg: var(--color-muted-bg);
  --color-muted-fg: var(--color-muted-fg);
  --color-border: var(--color-border);
  --color-border-light: var(--color-border-light);

  --color-accent-50: var(--color-emerald-50);
  --color-accent-100: var(--color-emerald-100);
  --color-accent-200: var(--color-emerald-200);
  --color-accent-300: var(--color-emerald-300);
  --color-accent-400: var(--color-emerald-400);
  --color-accent-500: var(--color-emerald-500);
  --color-accent-600: var(--color-emerald-600);
  --color-accent-700: var(--color-emerald-700);
  --color-accent-800: var(--color-emerald-800);
  --color-accent-900: var(--color-emerald-900);
  --color-accent-950: var(--color-emerald-950);

  --color-accent: var(--color-accent);

  --color-accent-dark: --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-display: "Days One", sans-serif;
}

/** Basic styles */
@layer base {
  * {
    border-color: var(--color-border);
  }
}
