@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@plugin "@astrojs/starlight-tailwind";



@theme inline {
  /* Customize palette: Slate as gray */
  --color-gray-50: oklch(0.984 0.003 247.858);
  --color-gray-100: oklch(0.968 0.007 247.896);
  --color-gray-200: oklch(0.929 0.013 255.508);
  --color-gray-300: oklch(0.869 0.022 252.894);
  --color-gray-400: oklch(0.704 0.04 256.788);
  --color-gray-500: oklch(0.554 0.046 257.417);
  --color-gray-600: oklch(0.446 0.043 257.281);
  --color-gray-700: oklch(0.372 0.044 257.287);
  --color-gray-800: oklch(0.279 0.041 260.031);
  --color-gray-900: oklch(0.208 0.042 265.755);
  --color-gray-950: oklch(0.129 0.042 264.695);

  /* Customize palette: Emerald accent */
  --color-accent-50: oklch(0.979 0.021 166.113);
  --color-accent-100: oklch(0.95 0.052 163.051);
  --color-accent-200: oklch(0.905 0.093 164.15);
  --color-accent-300: oklch(0.845 0.143 164.978);
  --color-accent-400: oklch(0.765 0.177 163.223);
  --color-accent-500: oklch(0.696 0.17 162.48);
  --color-accent-600: oklch(0.596 0.145 163.225);
  --color-accent-700: oklch(0.508 0.118 165.612);
  --color-accent-800: oklch(0.432 0.095 166.913);
  --color-accent-900: oklch(0.378 0.077 168.94);
  --color-accent-950: oklch(0.262 0.051 172.552);

	/** Apply starlight theme to CSS */
	--color-sl-accent-low: var(--sl-color-accent-low);
	--color-sl-accent: var(--sl-color-accent);
	--color-sl-accent-high: var(--sl-color-accent-high);
	--color-sl-white: var(--sl-color-white);
	--color-sl-black: var(--sl-color-black);
	--color-sl-gray-1: var(--sl-color-gray-1);
	--color-sl-gray-2: var(--sl-color-gray-2);
	--color-sl-gray-3: var(--sl-color-gray-3);
	--color-sl-gray-4: var(--sl-color-gray-4);
	--color-sl-gray-5: var(--sl-color-gray-5);
	--color-sl-gray-6: var(--sl-color-gray-6);
	--color-sl-gray-7: var(--sl-color-gray-7);
}

:root {
	--sl-color-accent-low: var(--color-accent-50);
	--sl-color-accent: var(--color-accent-500);
	--sl-color-accent-high: var(--color-accent-600);

	--sl-color-white: #ffffff;
	--sl-color-black: var(--color-gray-950);

	--sl-color-gray-1: var(--color-gray-100);
	--sl-color-gray-2: var(--color-gray-300);
	--sl-color-gray-3: var(--color-gray-400);
	--sl-color-gray-4: var(--color-gray-500);
	--sl-color-gray-5: var(--color-gray-600);
	--sl-color-gray-6: var(--color-gray-800);
	--sl-color-gray-7: var(--color-gray-900);
}

:root[data-theme="light"] {
	--sl-color-accent-low: var(--color-accent-200);
	--sl-color-accent: var(--color-accent-500) ;
	--sl-color-accent-high: var(--color-accent-800);

	--sl-color-white: var(--color-gray-950);
	--sl-color-black: #ffffff;

	--sl-color-gray-1: var(--color-gray-900);
	--sl-color-gray-2: var(--color-gray-700);
	--sl-color-gray-3: var(--color-gray-600);
	--sl-color-gray-4: var(--color-gray-500);
	--sl-color-gray-5: var(--color-gray-300);
	--sl-color-gray-6: var(--color-gray-200);
	--sl-color-gray-7: var(--color-gray-50);
}

/* Adjust logo position */
header a[href="/"] img {
	transform: translateY(-4px);
}