---
import "../styles/custom.css";
import "../styles/global.css";

import { BottomGetStartedSection } from "@/components/BottomGetStartedSection";
import { FeaturesSection } from "@/components/FeaturesSection";
import { HeroSection } from "@/components/HeroSection";
import { LatestBlogsSection } from "@/components/LatestBlogsSection";
import { PluginsSection } from "@/components/PluginsSection";
import { SupportSection } from "@/components/SupportSection";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getCollection } from "astro:content";

// Get all blogs from blog collection
const blogs = await getCollection("blog");
---

<StarlightPage
  frontmatter={{
    title: "Kilpi",
    template: "splash",
    prev: false,
    next: false,
    banner: {
      content: `<span class="font-medium">
				🔥 Introducing Kilpi!
				<a class="underline" href="/blog/2025-03-24-introducing-kilpi">
					Read the article
				</a>
			</span>`,
    },
  }}
>
  <main class="not-content text-foreground max-w-screen overflow-hidden">
    <HeroSection />
    <SupportSection />
    <FeaturesSection />
    <PluginsSection />
    <LatestBlogsSection blogs={blogs} />
    <BottomGetStartedSection />
  </main>
</StarlightPage>
