---
import logoPng from "@/assets/logo.png";
import { SvgLogos } from "@/components/ui/SvgLogos.tsx";
import { Image } from "astro:assets";
import { PagefindSearch } from "../pagefind/PagefindSearch.tsx";
import Button from "../ui/Button.astro";
import ThemeToggle from "./ThemeToggle.tsx";

type Props = {};

const SITE_LINKS = [
  { href: "/docs", label: "Docs" },
  { href: "/blog", label: "Blog" },
] as const;

const SOCIAL_LINKS = [
  {
    Icon: SvgLogos.Github,
    href: "https://github.com/jussinevavuori/kilpi",
  },
  {
    Icon: SvgLogos.BlueSky,
    href: "https://bsky.app/profile/jussinevavuori.com",
  },
];
---

<header
  class="h-14 border-b sticky top-0 flex items-center bg-bg/90 backdrop-blur-sm z-30"
  id="Header"
>
  <div class="max-w-site mx-auto flex px-4 items-center justify-between w-full">
    <nav class="flex items-center gap-8">
      <a href="/">
        <Image src={logoPng} alt="Kilpi Logo" class="h-8 w-auto -mt-1" />
      </a>
      {
        SITE_LINKS.map((link) => (
          <a
            class="text-sm text-muted-fg hover:text-fg data-[active]:text-accent data-[active]:[text-shadow:0_0_.7px_var(--color-fg)]"
            href={link.href}
          >
            {link.label}
          </a>
        ))
      }
    </nav>

    <div class="flex items-center">
      <PagefindSearch client:load />
      <ThemeToggle client:load />
      {
        SOCIAL_LINKS.map((link) => (
          <Button
            as="a"
            size="icon"
            variant="ghost"
            href={link.href}
            class="text-sm text-muted-fg hover:text-fg"
            rel="noopener noreferrer"
            target="_blank"
          >
            <link.Icon className="size-4 [&_*]:!fill-fg" />
          </Button>
        ))
      }
    </div>
  </div>
</header>
