---
import DocBreadcrumbs from "@/components/docs/DocBreadcrumbs.astro";
import DocsNavigation from "@/components/docs/DocsNavigation.astro";
import { getSidebar } from "@/components/docs/getSidebar";
import DocsLayout from "@/components/layout/DocsLayout.astro";
import Layout from "@/components/layout/Layout.astro";

const sidebar = await getSidebar();
---

<Layout>
  <DocsLayout>
    <DocsNavigation {sidebar} slot="left" />
    <DocBreadcrumbs />
    <h1 class="text-4xl tracking-tight font-bold">Kilpi documentation</h1>
    <hr />
  </DocsLayout>
</Layout>
