---
import BlogArticleHeader from "@/components/blog/BlogArticleHeader.astro";
import Layout from "@/components/layout/Layout.astro";
import Section from "@/components/layout/Section.astro";
import { components } from "@/components/mdx/_MdxComponents";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const blogs = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return blogs.map((blog) => ({ params: { slug: blog.id }, props: { blog } }));
}

const { blog } = Astro.props;
const { Content } = await render(blog);
---

<Layout>
  <Section class="py-36 flex flex-col gap-8 mx-auto" style={{ maxWidth: "660px" }}>
    <article class="space-y-4">
      <BlogArticleHeader {blog} />
      <Content {components} />
    </article>
  </Section>
</Layout>
