---
import BlogPost from "@/components/blog/BlogPost.astro";
import Layout from "@/components/layout/Layout.astro";
import Section from "@/components/layout/Section.astro";
import { getCollection } from "astro:content";

// Get all blogs from blog collection (newest first)
const blogs = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
blogs.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const shownBlogs = blogs.filter((_) => !_.data.archivedAt);
---

<Layout>
  <Section id="blog-hero" class="py-24" style={{ maxWidth: "660px" }}>
    <div class="flex flex-col gap-8 items-start">
      {/* Header text */}
      <div class="flex flex-col gap-4">
        <h1 class="text-4xl font-bold tracking-tight">Articles</h1>
        <p class="mx-auto max-w-[700px] text-muted-fg md:text-xl">
          Latest news, updates, and tutorials from Kilpi.
        </p>
      </div>
    </div>
  </Section>

  {
    shownBlogs.length === 0 ? (
      <Section class="py-0" style={{ maxWidth: "660px" }}>
        <div class="p-16 rounded border border-dashed text-black/50 text-center">
          No articles to show
        </div>
      </Section>
    ) : (
      <Section class="py-0" style={{ maxWidth: "660px" }}>
        {shownBlogs.map((blog) => (
          <BlogPost blog={blog} />
        ))}
      </Section>
    )
  }

  <div class="h-32"></div>
</Layout>
