---
import "../../styles/custom.css";
import "../../styles/global.css";

import { BlogHeroSection } from "@/components/BlogHeroSection.tsx";
import { BlogsSection } from "@/components/BlogsSection.tsx";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getCollection } from "astro:content";

// Get all blogs from blog collection (newest first)
const blogs = await getCollection("blog");
blogs.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<StarlightPage frontmatter={{ title: "Blog", template: "splash" }}>
  <BlogHeroSection />
  <BlogsSection blogs={blogs} />
  <div class="h-32"></div>
</StarlightPage>
