---
import BlogHeroSection from "@/components/blog/BlogHeroSection.astro";
import BlogsSection from "@/components/blog/BlogsSection.astro";
import Layout from "@/components/layout/Layout.astro";
import { getCollection } from "astro:content";

// Get all blogs from blog collection (newest first)
const blogs = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
blogs.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout>
  <BlogHeroSection />
  <BlogsSection blogs={blogs} />
  <div class="h-32"></div>
</Layout>
